*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;  
}
body{
    background: #fff4e8;
    font-family: 'Inter', sans-serif;
    background-image: url(/Cuttingchai/content_boxchai\ cup.png);
    background-size: 1500px;
    background-repeat: no-repeat;
    background-position-x: center;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 35px 0 0 0;
}
nav ul{
    display: flex;
    margin: 0 0 0 50px;
}
li{
    list-style: none; 
    margin: 0 39px 0 0;
}
a{
    text-decoration: none;
    color: #000000;
}
nav ul :hover{
    color:#F1B64D ;
}
.menu-btn i{
    display: none;
}
#click{
    display: none;
}
.logo{
    font-size: 28px;
    font-weight: bold;
}
.color0{
    color: #372005;
}
.color1{
    color: #F1B64D;
}
.user{
    height: 32px;
    display: flex;
}
.user-dp{
    align-items: center;
    display: flex;
    margin: 0 0 -29px 0;
}
.user-name{
    font-size: 18px;
    display: flex;
    align-items: center;
}
/* ///////////////////////////////////////////// */
.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.left-side{
    width: 360px;
    margin: 118px 0 0 142px;
}
.heading{
    font-size: 90px;
    line-height: 100px;
    word-break: break-word;
}
.paragraph{
    margin: 34px 0 0 0;
    color: #694D2C;
}
.btn{
    margin: 42px 0 0 0;
    width: 120px;
    height: 50px;
    border-radius: 30px;
    color: #694D2C;
    background: #fbd183;
    border: none;
    cursor: pointer;
}
.box{
    width: 304px;
    height: 360px;
    margin: 130px 100px 0 0; 
}
.content-box{
    width: 270px;
    height: 67px;
    margin: 20px auto;
}
.emoji{
    position: relative;
    top: -35px;
    left: -61px;
}
.p{
    position: relative;
    top: -175px;
    left: 74px;
    color: #694D2C;
    font-size: 12px;
    width: 200px;
}
@media (max-width:800px){
    body{
        background-position-x: -230px;
    }

    .user{
        margin: 0 0 0 -27px;
    }
    .user-dp{
        margin: 0 0 -29px 0;
    }
    .user-name{
        margin: 0 0 0 -14px;
    }
    .left-side{
        margin: 118px 0 0 30px;
    }
}
@media (max-width:700px){
    body{
        background-position-x: -230px;
    }
    header{
        margin:0;

    }
    nav ul{
        position: fixed;
        right: 150px;
        top: -100%;
        display: block;
        background: #f9e6d2;
        padding: 30px;
        border-radius: 8px;
        text-align: center;
        transition: all 0.3s cubic-bezier(.6,.04,.98,.34);
    }
    #click:checked ~ ul {
        top: 15%;
    }
    #click{
        display: none;
    }
    #click:checked ~ .menu-btn i:before{
        content:"\f00d";
    }
    
    .nav{
        margin: 12px;
    }
    .menu-btn i{
        display: block;
        margin: 3rem 1rem;
    }

}
@media (max-width:460px){
    nav ul{
        right: 0;
    }
    #click:checked ~ ul {
        top:8%;
    }
    .menu-btn i{
        margin: 23px 0px 21px 108px;
    }
    .user{
        display: none;
    }
    .left-side{
        margin: 118px 0 0 25px;
    }
    .heading{
        font-size: 55px;
    }
    .box{
        margin: 49px 100px 0 25px;
    }
}
